* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#app {
    height: 100%;
    width: 100%;
}
html, body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    animation-name: first-back-ground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow: auto;
    background-color: rgb(207, 166, 89);
}
.home-page {
    color: white;
    font-size: 2em;
    display: block;
    position: absolute;
    justify-items: center;
    text-align: center;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*
.home-page .cowboy-background {
    background-image: url("cowboy2.png");
    filter: blur(10px);
    height: 800px;
    width: 100%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
}*/
.home-page .hp-header {
    font-size: 3em;
}
/* #### Navigation Bar #### */
.nav-bar {
    height: 100%;
    width: 10%;
    z-index: 5;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eeeded;
    left: 0%;
    height: 100%;
  }
  
  li a {
    display: block;
    color: rgb(122, 121, 121);
    text-align: center;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
  }
  
  li a:hover {
    background-color: #333333;
  }
  li.active {
      background: rgb(207, 166, 89);
  }
  li.active a {
      color: white;
 }
/* #### Task List ###### */
/* Remove margins and padding from the list */
.task-page {
    color: white;
    font-size: 2em;
    display: block;
    position: absolute;
    justify-items: center;
    text-align: center;
    height: 100%;
    width: 91%;
    left: 55%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}
.task-page ul {
    margin: 0;
    padding: 0;
    position: fixed;
}
/* Style the list items */
.task-page .task-list {
    width: 100%;
}
.task-page ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgb(224, 223, 223);
    font-size: 18px;
    transition: 0.2s;
    color: rgb(65, 64, 64);
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
.task-page ul li:nth-child(odd) {
    background: rgb(236, 235, 235);
}
/* Darker background-color on hover */
.task-page ul li:hover {
    background: white;
}
/* When clicked on, add a background color and strike out text */
.task-page ul li.checked {
    background: rgba(128, 127, 127, 0.521);
    color: rgb(43, 42, 42);
    content: '✓';
} 
/* Add a "checked" mark when clicked on */
.task-page ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
/* Style the close button */
.task-page .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
} 
.task-page .close:hover {
    background-color: #f44336;
    color: white;
} 
/* Style the header */
.task-page .header {
    background-color: #5c5b5b;
    padding: 30px 40px;
    color: white;
    text-align: center;
} 
/* Clear floats after the header */
.task-page .header:after {
    content: "";
    display: table;
    clear: both;
}
/* Style the input */
.task-page .input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
/* Style the "Add" button */
.task-page .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0px;
}
.task-page .addBtn:hover {
    background-color: #bbb;
}
/* #### Assessment Page #### */
.assessment-page {
    color: white;
    font-size: 2em;
    display: block;
    position: absolute;
    justify-items: center;
    text-align: center;
    height: 100%;
    width: 91%;
    left: 55%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
}
.assessment-page .add-button img{
    width: 5%;
    height: auto;
}
.assessment-page .page-title {
    font-size: 2em;
}
.assessment ul {
    width: 50%;
}
.assessment-page ul li {
    float: left;
}
.module {
    padding: 10%;
    background-color:rgb(207, 166, 89);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 10px #888;
    z-index: 1;
}
.module .open-module {
    font-size: 10px;
    background-color: rgb(51, 50, 50);
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.module .open-module:hover {
    background-color: rgb(26, 25, 25);
}