* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    height: 100%;
    width: 100%;
}
html, body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    animation-name: first-back-ground;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow: auto;
    background-color: rgb(207, 166, 89);
}
.home-page {
    color: white;
    font-size: 2em;
    display: block;
    position: absolute;
    justify-items: center;
    text-align: center;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.home-page .hp-header {
    font-size: 3em;
}
.nav-bar {
    height: 100%;
    width: 10%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eeeded;
    left: 0%;
    height: 100%;
  }
  
  li a {
    display: block;
    color: rgb(122, 121, 121);
    text-align: center;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
  }
  
  li a:hover {
    background-color: #333333;
  }
  li a:active {
    background-color: rgb(26, 25, 24);
  }
  li a.active {
      background: #8d7c1976;
  }
